.video-content {
  //position: absolute;
  margin-left: 10%;
  padding: 10px;
  .video-player {
    width: 805px;
    height: 453px;
  }


  
}

@media (min-width: 320px) and (max-width: 480px) {
  .video-content {
    margin: 0 auto auto;
    .video-player {
      width: 427px;
      height: 240px;
    }
  }
}

@media (min-width: 480px) and (max-width: 737px) {
  .video-content {
    .video-player {
      width: 661px;
      height: 372px;
    }
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .video-content {
    margin: 0 auto auto;

    .video-player {
      width: 709px;
      height: 399px;
    }
  }
}
