.video-page{
    margin-top: 15vh;
    height: 100vh;
    //width: 100%;
   // position: relative;
    //margin-left: 0px;

    .comments{
        justify-content: center;
        margin-left: 10%;
    }
  
}